@import vars
@import mix

#flash_notice,
#flash_error,
.alert
  padding: 5px 8px
  margin: 10px 0
  background: $alert_box_background
  color: $alert_font_color

#flash_notice
  background-color: #ccffcc
  border: solid 1px #66cc66

#flash_error,
#flash_alert
  background-color: #ffcccc
  border: solid 1px #cc6666

