@import vars
@import mix
#footer
  .partners ul
    text-align: center
  .partners li
    display: inline
    img
      margin-right: 20px
      height: 100px
  .links
    @include roundcorners(20px)
    background-color: transparentize($header_color,0.5)
    padding: 20px 20px 10px 30px
  .links div
    float: left
    margin: 0px 50px 10px 0
    padding: 0 0 0px 0px
    h2 
      margin: 5px 0 0 0
      font-size: 14px
    ul 
      margin: 0
      padding: 0
      li
        font-size: 12px
        list-style: none
        a
          text-decoration: none
