$site_width: 858px
$primary_color: #57585b
$background_color: $primary_color
$header_color: #4fc3e6
$header_font_color: #eb2a8a
$link_color: #eb5f54
$font_color: #ffc501
$alert_font_color: yellow
$alert_box_background: #54b87b
$underlay_color: #54b87b

$t: pink
