$site_width: 858px

$primary_color: #57585b
$font_color: black
$link_color: #EB2A8A
// arround the wrappers is border
$plinth_size: 1px

// general page background
$background_color: #eaeaea 

// 
$header_background_color: #fa8700
$header_font_color: #424345

$content_background_color: white
$content_font_color: $font_color

$footer_background_color: transparentize($header_background_color,0.3)
$seperator_color: transparentize($header_background_color,0.3)

$alert_font_color: yellow
$alert_box_background: #54b87b
$underlay_color: #424345

// for debugging purpose
$t: pink
