%h1 Users with Existing Submissions

.users
  - @users.each do |user|
    .user
      = user.display_name
      (
      = pluralize(user.submissions.size,"submission")
      )
      - user.submissions.each do |sub|
        .sub
          = link_to sub.title, submission_path(sub)
