- title @page.name

= @page.content

- if @current_user && @current_user.is_admin?
  %p
    = link_to "Edit", edit_page_path(@page)
    |
    = link_to "Destroy", @pages, :confirm => 'Are you sure?', :method => :delete
    |
    = link_to "View All", pages_path
