- title "Category"
%h1
  = "Category: "
  = @category.name
.submission_entries
  - @submissions.each do |submission|
    %hr
    = render :partial => "submissions/small_sub", :object => submission
    
