%hr
.partners
.links.clearfix
  .navigation
    %h2 navigation
    %ul
      %li=link_to "categories", "/categories"
      %li=link_to "submissions", "/submissions"
  .competition
    %h2 competition
    %ul
      %li=link_to "announcment", "http://wiki.maemo.org/MeeGo_Coding_Competition_2011"
      %li=link_to "voting thread ... where?", ""
      %li=link_to "announcment (german)", "http://meetmeego.org/2011/03/28/meego-coding-competition-2011/"
  .about
    %h2 about us
    %ul
      %li=link_to "meetmeego", "http://meetmeego.org"
      %li=link_to "impressum", "/static/impressum"
  .software
    %h2 software
    %ul
      %li=link_to "contesta", "http://dev.c-base.org/contesta"
      %li=link_to "bugtracker", "http://dev.c-base.org/redmine/projects/contesta"
      %li=link_to "rubyonrails", "http://rubyonrails.org"
      %li=link_to "haml + sass", "http://haml-lang.org"
  .c_base
    %h2 c-base
    %ul
      %li=link_to "logbuch", "http://logbuch.c-base.org"
      %li=link_to "community", "http://community.c-base.org"
      %li=link_to "twitter", "http://twitter.com/cbase"
      %li=link_to "facebook", "http://www.facebook.com/cbase.raumstation"
  .meetmeego
    %h2 meetmeego
    %ul
      %li=link_to "website", "http://meetmeego.org/"
      %li=link_to "twitter", "http://twitter.com/meetmeego"
      %li=link_to "facebook", "http://facebook.com/meetmeego"
      %li=mail_to "info@meetmeego.org"


