%hr
.partners
  powered by:
  %ul
    %li
      =link_to(image_tag("http://lh5.ggpht.com/_TRA9Y8K5Vr4/TTNK1jf3SYI/AAAAAAAAAgA/jfhczeusZRQ/s144/transmediale_logo_invers_h144.png",:alt => "tm11"),"http://www.transmediale.de/de")
    %li
      =link_to(image_tag("http://lh4.ggpht.com/_TRA9Y8K5Vr4/TS7HJzJawkI/AAAAAAAAAfY/OR-6zUgLv9s/s144/mobilefreidae-square_ohne_datum_MeeGoChars.jpg",:alt => "mobilefreidae"),"http://mobilefreidae.org/")
    %li
      =link_to(image_tag("http://lh6.ggpht.com/_TRA9Y8K5Vr4/TTNOqIFiKVI/AAAAAAAAAgQ/deKjHJmvAq8/s800/C-logo_claim_blue_0h144.png",:alt => "c-base"),"http://c-base.org/")
.links.clearfix
  .navigation
    %h2 navigation
    %ul
      %li=link_to "categories", "/categories"
      %li=link_to "platforms", "/platforms"
      %li=link_to "submissions", "/submissions"
  .about
    %h2 about us
    %ul
      %li=link_to "welcome", "/static/welcome"
      %li=link_to "impressum", "/static/impressum"
      %li=link_to "bugtracker", "http://dev.c-base.org/redmine/projects/contesta"
      %li=link_to "contact", "/static/contact"
  .software
    %h2 software
    %ul
      %li=link_to "contesta", "http://dev.c-base.org/contesta"
      %li=link_to "rubyonrails", "http://rubyonrails.org"
      %li=link_to "haml + sass", "http://haml-lang.org"
  .c_base
    %h2 c-base
    %ul
      %li=link_to "logbuch", "http://logbuch.c-base.org"
      %li=link_to "community", "http://community.c-base.org"
      %li=link_to "coredump", "http://coredump.c-base.org"
  .mobilefreidae
    %h2 mobile freidae
    %ul
      %li=link_to "news", "http://mobilefreidae.org"
      %li=link_to "twitter", "http://twitter.com/#!/search/mobilefreidae"
      %li=link_to "facebook", "http://www.facebook.com/pages/mobile-freidae/132585210107171?v=wall"

